In [16]:
import pandas

data = pandas.read_csv('svm-data.csv', header=None)
y = data[0].copy()
X = data.copy()
del X[0]
X

      1     2
0  0.70  0.29
1  0.23  0.55
2  0.72  0.42
3  0.98  0.68
4  0.48  0.39
5  0.34  0.73
6  0.44  0.06
7  0.40  0.74
8  0.18  0.18
9  0.53  0.53

In [17]:
from sklearn.svm import SVC

clf = SVC(kernel='linear', C=100000, random_state=241)
clf.fit(X,y)
clf.support_ # 4,5,10

array([3, 4, 9], dtype=int32)

In [18]:
with open('asd.txt', 'w') as f:
  f.write('4 5 10')